<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<augustash_wampasettings>
			<company_footer>
				<company_footer_enabled>0</company_footer_enabled>
        <company_address><![CDATA[Default Values]]></company_address>
				<company_phone><![CDATA[Default Values]]></company_phone>
        <company_fax><![CDATA[Default Values]]></company_fax>
        <company_email><![CDATA[Default Values]]></company_email>
        <company_copyright><![CDATA[Default Values]]></company_copyright>
			</company_footer>
    </augustash_wampasettings>
  </default>
</config>